.InputCalendar {
    background:#FFF;
    border: none;
    border-radius:4px;
    box-shadow:0px 24px 48px 0 rgba(0,0,0,0.16);
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    height: 30px;
    outline: none;
    padding: 6px;
    width: 100%;
}