.card {
    border-radius:4px;
    box-shadow:0px 24px 48px 0 rgba(0,0,0,0.16);
    display: flex;
    padding: 0 1em;
    width: 100%;
    height: 100%;
}

.card--color_red,
.card--color_green,
.card--color_blue,
.card--color_orange {
    color: white;
}

.card--color_red {
    background-color: #EF4444;
}

.card--color_green {
    background-color: #059669;
}

.card--color_blue {
    background-color: #6366F1;
}

.card--color_orange {
    background-color: #D97706;
}

.cardIcon {
    font-size: 3em;
}

.cardNumber {
    font-size: 38px;
    font-weight: 600;
}

.cardName {
    font-size: 20px;
}