.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* WIDTH*/

/* width */

.ExtraLarge {
    width: 1350px;
}

.Large {
    width: 862px;
}

.Medium {
    width: 610px;
}

.Small {
    width: 400px;
}

.ExtraSmall {
    width: 310px;
}

.width_100 {
    width: 100%;
}

.width_90 {
    width: 90%;
}

.width_80 {
    width: 80%;
}

.width_70 {
    width: 70%;
}

.width_65 {
    width: 65%;
}

.width_60 {
    width: 60%;
}

.width_50 {
    width: 50%;
}

.width_40 {
    width: 40%;
}

.width_30 {
    width: 30%;
}

.width_22 {
    width: 22%;
}

.width_20 {
    width: 20%;
}

.width_10 {
    width: 10%;
}

/* Size */

.ExtraLarge {
    width: 1350px;
}

.Large {
    width: 947px;
}

.Medium {
    width: 610px;
}

.Small {
    width: 412px;
}

.ExtraSmall {
    width: 310px;
}

/* Responsive */

@media screen and (max-width: 1600px) {
    .ExtraLarge {
        width: 980px;
    }

    .Large {
        width: 980px;
    }
}

@media screen and (max-width: 1300px) {
    .ExtraLarge {
        width: 720px;
    }

    .Large {
        width: 720px;
    }
}

@media screen and (max-width: 820px) {
    .ExtraLarge {
        width: 380px;
    }

    .Large {
        width: 380px;
    }

    .Medium {
        width: 380px;
    }

    .Small {
        width: 380px;
    }

    .ExtraSmall {
        width: 380px;
    }
}