.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.column1{
    display: flex;
    width: 60%;
    flex-direction: column;
}

.column2{
    display: flex;
    width: 35%;
    flex-direction: column;
}

.column3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}