.ImgArea {
    align-items: center;
    border: 1px solid #ccc;
    color: #ccc;
    display: flex;
    justify-content: center;
    font-size: 15em;
    flex-direction: column;
    height: 350px;
    width: 100%;
}

.ImgArea .inputfile {
	height: 100%;
    width: 100%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.ImgArea .inputfile + label {
    font-size: 0em;
    font-weight: 700;
    color: white;
    display: inline-block;
    
}

/* .ImgArea input::-webkit-file-upload-button {
    visibility: hidden;
} */