.header_agendamentoTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_buttons {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.container_agendamentoInputs {
    width: 850px;
}

.container_agendamentosPhotoProfile {
    width: 450px;
}